<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.octopus_aqua.inteface">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="ua.com.octopus_aqua.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewPlantActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".image_making.ImageMakerActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".PlantInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".image_making.DefaultImageActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".login.RegistrationsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="ua.com.octopus_aqua.preferences.PreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="ua.com.octopus_aqua.networking.RequestHandlerActivity"
            android:theme="@style/AppTheme.Dialog"/>

        <service
            android:name="ua.com.octopus_aqua.notification.NotificationMonitoringService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
